*{
	text-align:left; 
    content:justify;
}
.table:hover{
	color:black;
}
.table-dark{
	background-color:black;
}
th{
	
	border:1px solid black;
	color:white;
	background-color:black;
}
caption{
	text-align:start;
}
.table-light{
	font:monospace; 
	text:end;
	fw:bold;
}